.canvas{
  background-color: #dbf783;
  width: 800px;
  height: 800px;
  position: absolute;
}

h1 {
  color: #1c768e;
  font-family: 'georgia', serif;
  padding-left: 25px;
  font-size: 40px;
  position: absolute;
}

.leopard-image{
  position: absolute;
  bottom: 400px;
  left: 35px;
}

.palm-image{
  position: absolute;
  bottom: 75px;
  left: 45px;
}

.diamond-image{
  position: absolute;
  bottom: 130px;
  right: 70px;
  opacity: 0.75;
}

h2 {
background-color: white;
font-size: 24px;
position: absolute;
}

.bright{
  color: #fc6ac4;
  position: absolute;
  top: 40px;
  right: 40px;
}

h2.bright {
  padding: 5px;
}

.neon{
  /* Changed the font size */
  color: #ebf702;
  font-size: 40px !important;
  position: absolute;
  top: 52px;
  right: 75px;
}

h2.neon {
  padding: 5px;
}

.flashy{
  color: #01eaf7;
  position: absolute;
  top: 86px;
  right: 40px;
}

h2.flashy {
  padding: 5px;
  position: absolute;
}
