@font-face {
   font-family: 'Skranji';
   src: url('../fonts/Skranji-Regular.ttf') format('opentype');
   font-weight: normal;
   font-style: normal;
 }

 @import url('https://fonts.googleapis.com/css?family=Yantramanav');
