body {
  background-color: #646970
}

h1 {
  font-family: 'Skranji', sans-serif;
  font-weight: normal;
  font-size: 60pt;
}

h3{
  font-family: 'Skranji', sans-serif;
  font-weight: normal;
  font-style: italic;
  font-size: 20pt;
}
